.container {
  width: 1440px;
  padding: 40px 64px;
  display: grid;
  grid-template-columns: 360px minmax(0, 1fr);
  gap: 64px;
  align-items: start;
}

main {
  width: 100%;
  flex-grow: 1;
}


@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    padding: 20px;
  }
}