.container {
  width: 100%;
  padding: 40px 64px;
  display: grid;
  grid-template-columns: 360px minmax(0, 1fr);
  gap: 64px;
  align-items: start;
}

.catalogSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

main {
  width: 100%;
  flex-grow: 1;
}


@media (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr;
    gap: 32px;
    padding: 20px 32px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 20px 16px;
  }
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}