.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: var(--text);
  font-size: 16px;
  font-weight: 500;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.inputIcon {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--main);
  pointer-events: none;
  /* Щоб клік проходив крізь іконку на селект */
}

.locationSelect {
  width: 100%;
  padding: 18px 18px 18px 48px;
  /* Відступ зліва для іконки */
  background-color: var(--inputs);
  border: none;
  border-radius: 12px;
  font-size: 16px;
  color: var(--main);
  outline: none;
  appearance: none;
  /* Прибираємо стандартну стрілку браузера */
  cursor: pointer;

  /* Додаємо кастомну стрілку (опціонально) або залишаємо без неї */
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23101828%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 18px top 50%;
  background-size: 12px auto;
}

.locationSelect:hover {
  border: 1px solid var(--button);
  /* Ефект при наведенні */
  padding: 17px 17px 17px 47px;
  /* Компенсація бордера */
}