.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.label {
  color: var(--text);
  font-size: 16px;
  font-weight: 500;
}

.inputWrapper {
  position: relative;
  /* Важливо для позиціонування іконки */
}

/* Іконка мапи */
.inputIcon {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--main);
  z-index: 5;
  /* Щоб була поверх селекту */
  pointer-events: none;
  /* Щоб клік проходив крізь іконку на селект */
}