.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: var(--text);
  font-size: 16px;
  font-weight: 500;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.inputIcon {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--main);
  pointer-events: none;
}

.locationSelect {
  width: 100%;
  padding: 18px 18px 18px 48px;
  background-color: var(--inputs);
  border: none;
  border-radius: 12px;
  font-size: 16px;
  color: var(--main);
  outline: none;
  appearance: none;
  cursor: pointer;

}

.locationSelect:hover {
  border: 1px solid var(--button);
  padding: 17px 17px 17px 47px;

}