.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
  margin-top: 48px;
  margin-bottom: 52px;
}

.favoritesContainer {
  padding: 48px 64px;
}


@media (max-width: 768px) {

  .favoritesContainer {
    padding: 24px 32px;
  }

  .wrapper {
    gap: 16px;
    width: 100%;
    margin: 0;
  }

  @media (max-width: 480px) {
    .wrapper {
      gap: 8px;
    }

    .favoritesContainer {
      padding: 4px 8px;
    }
  }
}