.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 64px;
}

.header {
  margin-bottom: 24px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

.meta {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  font-size: 16px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: underline;
}

.starIcon {
  color: var(--rating);
}

.price {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 24px;
}

.gallery {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding-bottom: 8px;
}

.imageThumb {
  flex-shrink: 0;
  width: 290px;
}

.imageThumb:hover {
  transform: scale(1.02);
}

.imageThumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  color: var(--text);
  line-height: 1.5;
  margin-bottom: 44px;
}

.tabs {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid var(--gray-light);
  margin-bottom: 44px;
}

.tabs a {
  text-decoration: none;
  padding: 0 0 24px 0;
  font-size: 20px;
  font-weight: 600;
  color: var(--main);
  cursor: pointer;
  border-bottom: 5px solid transparent;
  transition: border-color 0.3s;
}

.tabs .activeTab {
  border-bottom-color: var(--button);
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
  align-items: stretch;
}

.contentLeft {
  height: 100%;
}

.bookingSidebar {
  height: 100%;
}

.bookingFormCard {
  border: 1px solid var(--gray-light);
  padding: 44px;
  border-radius: 10px;
  height: 100%;
}

.formNote {
  color: var(--text);
  margin-top: 8px;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.form input,
.form textarea {
  width: 100%;
  padding: 18px;
  border: none;
  background: var(--inputs);
  border-radius: 12px;
  font-size: 16px;
  outline: none;
}

.sendBtn {
  background-color: var(--button);
  color: white;
  border: none;
  display: block;
  margin: 24px auto 0;
  padding: 16px 60px;
  border-radius: 200px;
  font-weight: 500;
  cursor: pointer;
  width: fit-content;
  transition: background-color 0.3s;
}

.sendBtn:hover {
  background-color: var(--button-hover);
}

.location {
  display: flex;
  align-items: center;
  gap: 4px;
}


.datepickerWrapper {
  width: 100%;
  position: relative;
}

.datepickerWrapper :global(.react-datepicker-wrapper) {
  width: 100%;
  display: block;
}

.datepickerInput {
  width: 100%;
  padding: 18px;
  background-color: var(--inputs);
  border: none;
  border-radius: 12px;
  font-size: 16px;
  line-height: 24px;
  color: var(--main);
  outline: none;
  cursor: pointer;
}

.datepickerInput::placeholder {
  color: var(--text);
  opacity: 0.6;
}

.customCalendar {
  font-family: var(--font-family) !important;
  border: 1px solid var(--text) !important;
  border-radius: 12px !important;
  background-color: var(--white) !important;
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.05);
  padding: 16px !important;
  width: 325px !important;
}


.customCalendar :global(.react-datepicker__triangle) {
  fill: var(--white) !important;
  color: var(--white) !important;
  stroke: var(--gray-light) !important;
}

.customCalendar :global(.react-datepicker__header) {
  background-color: var(--white) !important;
  border-bottom: none;
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
  padding-top: 0 !important;
  padding-bottom: 12px !important;
}

.customCalendar :global(.react-datepicker__current-month) {
  font-size: 20px !important;
  font-weight: 600 !important;
  color: var(--main) !important;
  margin-bottom: 16px !important;
  padding-top: 4px;
}

.customCalendar :global(.react-datepicker__navigation) {
  top: 18px !important;
}

.customCalendar :global(.react-datepicker__navigation-icon::before) {
  border-color: var(--main) !important;
  border-width: 2px 2px 0 0 !important;
  height: 14px !important;
  width: 14px !important;
}

.customCalendar :global(.react-datepicker__navigation--previous) {
  left: 15px !important;
}

.customCalendar :global(.react-datepicker__navigation--next) {
  right: 15px !important;
}

/* (MON, TUE...) */
.customCalendar :global(.react-datepicker__day-names) {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--text) !important;
  padding-bottom: 12px;
}

.customCalendar :global(.react-datepicker__day-name) {
  color: var(--text) !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 1.2;
  width: 2.5rem !important;
  margin: 0 !important;
  text-transform: uppercase;
}

.customCalendar :global(.react-datepicker__month) {
  margin: 0 !important;
  margin-top: 12px !important;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.customCalendar :global(.react-datepicker__week) {
  display: flex;
  justify-content: space-between;
}

.customCalendar :global(.react-datepicker__day) {
  width: 2.5rem !important;
  height: 2.5rem !important;
  line-height: 2.5rem !important;
  margin: 0 !important;
  border-radius: 50% !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: var(--main) !important;
  transition: background-color 0.2s, color 0.2s;
}


.customCalendar :global(.react-datepicker__day:hover) {
  background-color: var(--badges) !important;
  color: var(--main) !important;
  border-radius: 50% !important;
}


.customCalendar :global(.react-datepicker__day--selected),
.customCalendar :global(.react-datepicker__day--keyboard-selected) {
  background-color: var(--text) !important;
  color: var(--inputs) !important;
  font-weight: 600 !important;
}


.customCalendar :global(.react-datepicker__day--today) {
  border: 1px solid var(--button);
  background-color: transparent;
}

.customCalendar :global(.react-datepicker__day--today.react-datepicker__day--selected) {
  background-color: var(--button) !important;
  border: none;
}


.customCalendar :global(.react-datepicker__day--outside-month) {
  color: var(--gray-light) !important;
  pointer-events: none;
}


.customCalendar :global(.react-datepicker__day--disabled) {
  color: var(--text) !important;
  opacity: 0.5;
}

@media (max-width: 768px) {
  .container {
    padding: 20px 16px;
  }

  .title,
  .price {
    font-size: 24px;
  }

  .layout {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .imageThumb {
    width: 250px;
    height: 200px;
  }
}