.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 64px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

.meta {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  font-size: 16px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: underline;
}

.starIcon {
  color: var(--rating);
}

.price {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 24px;
}

.gallery {
  display: flex;
  gap: 16px;
  margin-bottom: 28px;
  overflow: hidden;
}

.imageThumb {
  width: 290px;
  height: 310px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}

.imageThumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  color: var(--text);
  line-height: 1.5;
  margin-bottom: 44px;
  max-width: 100%;
}

.tabs {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid var(--gray-light);
  margin-bottom: 44px;
}

.tabs button {
  background: none;
  border: none;
  padding: 0 0 24px 0;
  font-size: 20px;
  font-weight: 600;
  color: var(--main);
  cursor: pointer;
}

.tabs .activeTab {
  border-bottom: 5px solid var(--button);
  /* Червона лінія як на макеті */
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
}

@media (max-width: 768px) {
  .layout {
    grid-template-columns: 1fr;
  }
}

.contentLeft {
  border-radius: 10px;
  padding: 44px 52px;
  background: var(--inputs);
  height: 100%;
}

.featuresSection {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.badge {
  padding: 12px 18px;
  background: var(--badges);
  mix-blend-mode: multiply;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-transform: capitalize;
}

.badgeLabel {
  text-transform: capitalize;
}

.subTitle {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--gray-light);
  margin-bottom: 24px;
  margin-top: auto;
}

.capitalize {
  text-transform: capitalize;
}

.detailsList {
  list-style: none;
  padding: 0;
  margin: 0;

}

.detailsList li {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.detailsList li:last-child {
  margin-bottom: 0;
}

.detailsList li span:first-child {
  color: var(--main);
}

.detailsList li span:last-child {
  color: var(--main);
}

/* Відгуки */
.reviewCard {
  margin-bottom: 44px;
}

.reviewHeader {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}

.avatar {
  width: 60px;
  height: 60px;
  background: var(--badges);
  color: var(--button);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
}

.stars {
  display: flex;
  gap: 4px;
}

/* Форма */
.bookingFormCard {
  background: transparent;
  border: 1px solid var(--gray-light);
  padding: 44px;
  border-radius: 10px;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.formNote {
  color: var(--text);
  margin-top: 8px;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 24px;
}

.form input,
.form textarea {
  width: 100%;
  padding: 18px;
  border: none;
  background: var(--inputs);
  border-radius: 12px;
  font-size: 16px;
}

.sendBtn {
  background-color: var(--button);
  color: white;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  padding: 16px 60px;
  border-radius: 200px;
  font-weight: 500;
  cursor: pointer;
  width: fit-content;
  align-self: flex-start;
  transition: background-color 0.3s;
}

.sendBtn:hover {
  background-color: var(--button-hover);
}