.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 64px;
}

.header {
  margin-bottom: 24px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

.meta {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  font-size: 16px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: underline;
}

.starIcon {
  color: var(--rating);
}

.price {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 24px;
}

.gallery {
  display: flex;
  gap: 16px;
  margin-bottom: 28px;
}

.imageThumb {
  width: 290px;
  height: 310px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.imageThumb:hover {
  transform: scale(1.02);
}

.imageThumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  color: var(--text);
  line-height: 1.5;
  margin-bottom: 44px;
}

.tabs {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid var(--gray-light);
  margin-bottom: 44px;
}

.tabs a {
  text-decoration: none;
  padding: 0 0 24px 0;
  font-size: 20px;
  font-weight: 600;
  color: var(--main);
  cursor: pointer;
  border-bottom: 5px solid transparent;
  transition: border-color 0.3s;
}

.tabs .activeTab {
  border-bottom-color: var(--button);
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
  align-items: stretch;
}

.contentLeft {
  height: 100%;
}

.bookingSidebar {
  height: 100%;
}

.bookingFormCard {
  border: 1px solid var(--gray-light);
  padding: 44px;
  border-radius: 10px;
  height: 100%;
}

.formNote {
  color: var(--text);
  margin-top: 8px;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.form input,
.form textarea {
  width: 100%;
  padding: 18px;
  border: none;
  background: var(--inputs);
  border-radius: 12px;
  font-size: 16px;
  outline: none;
}

.sendBtn {
  background-color: var(--button);
  color: white;
  border: none;
  display: block;
  margin: 24px auto 0;
  padding: 16px 60px;
  border-radius: 200px;
  font-weight: 500;
  cursor: pointer;
  width: fit-content;
  transition: background-color 0.3s;
}

.sendBtn:hover {
  background-color: var(--button-hover);
}

.location {
  display: flex;
  align-items: center;
  gap: 4px;
}


@media (max-width: 768px) {
  .layout {
    grid-template-columns: 1fr;
  }

  .container {
    padding: 20px;
  }
}