.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 64px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

.meta {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  font-size: 16px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: underline;
}

.starIcon {
  color: var(--rating);
}

.price {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 24px;
}

.gallery {
  display: flex;
  gap: 16px;
  margin-bottom: 28px;
  overflow: hidden;
}

.imageThumb {
  width: 290px;
  height: 310px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}

.imageThumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  color: var(--text);
  line-height: 1.5;
  margin-bottom: 44px;
  max-width: 100%;
}

.tabs {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid var(--gray-light);
  margin-bottom: 44px;
}

.tabs button {
  background: none;
  border: none;
  padding: 0 0 24px 0;
  font-size: 20px;
  font-weight: 600;
  color: var(--main);
  cursor: pointer;
}

.tabs .activeTab {
  border-bottom: 5px solid var(--button);
  /* Червона лінія як на макеті */
}

.layout {
  display: grid;
  grid-template-columns: 1fr 448px;
  gap: 64px;
  align-items: start;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 44px;
}

.badge {
  padding: 12px 18px;
  background: var(--badges);
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-transform: capitalize;
}

.badgeLabel {
  text-transform: capitalize;
}

.subTitle {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--gray-light);
  margin-bottom: 24px;
}

.detailsList {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.detailsList li {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

/* Відгуки */
.reviewCard {
  margin-bottom: 44px;
}

.reviewHeader {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}

.avatar {
  width: 60px;
  height: 60px;
  background: var(--badges);
  color: var(--button);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
}

.stars {
  display: flex;
  gap: 4px;
}

/* Форма */
.bookingForm {
  border: 1px solid var(--gray-light);
  padding: 24px;
  border-radius: 10px;
}

.bookingSub {
  color: var(--text);
  margin-top: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 24px;
}

.form input,
.form textarea {
  width: 100%;
  padding: 18px;
  border: none;
  background: var(--inputs);
  border-radius: 12px;
  font-size: 16px;
}

.sendBtn {
  margin-top: 24px;
  padding: 16px 60px;
  border-radius: 200px;
  width: fit-content;
  align-self: center;
}