.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 64px;
  background-color: var(--badges);
  width: 100%;
}

.logo {
  font-weight: 700;
  font-size: 20px;
  color: var(--main);
}

.nav {
  display: flex;
  gap: 32px;
}

.link {
  text-decoration: none;
  color: var(--main);
  font-weight: 500;
}

.activeLink {
  text-decoration: none;
  color: var(--button);
  font-weight: 500;
}