.header {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 64px;
  background-color: var(--badges);
  width: 100%;
  height: 72px;
}

.logo {
  font-weight: 700;
  font-size: 20px;
  color: var(--main);
}

.logo span {
  color: var(--text);
}

.nav {
  display: flex;
  gap: 32px;
}

.link {
  text-decoration: none;
  color: var(--main);
  font-weight: 500;
}

.activeLink {
  text-decoration: none;
  color: var(--button);
  font-weight: 500;
}

@media (max-width: 768px) {
  .header {
    padding: 0 20px;
    height: auto;
    padding: 15px 20px;
    flex-direction: column;
    /* Лого зверху, навігація знизу */
    gap: 10px;
  }

  .nav {
    gap: 15px;
  }
}