.sidebar {
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.locationSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: var(--text);
  font-size: 16px;
  font-weight: 500;
}

.inputWrapper {
  position: relative;
}

.inputIcon {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--main);
}

.locationInput {
  width: 100%;
  padding: 18px 18px 18px 48px;
  background-color: var(--inputs);
  border: none;
  border-radius: 12px;
  font-size: 16px;
  color: var(--main);
  outline: none;
}

.filtersGroup {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.filtersTitle {
  color: var(--text);
  font-weight: 500;
  margin-bottom: 24px;
}

.sectionTitle {
  font-size: 20px;
  font-weight: 600;
  color: var(--main);
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--gray-light);
}

.filterGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px 12px;
}

.filterLabel {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 1.2;
}

.filterItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 95px;
  border: 1px solid var(--gray-light);
  border-radius: 12px;
  background: transparent;
  cursor: pointer;
  transition: border-color 0.2s;
  font-size: 16px;
  font-weight: 500;
  color: var(--main);
  padding: 0;
}

.filterItem:hover {
  border-color: var(--button);
  background-color: transparent !important;
  outline: none;
}

.filterItemActive {
  border-color: var(--button) !important;
}

.searchBtn {
  margin-top: 32px;
  padding: 16px 60px;
  background-color: var(--button);
  color: white;
  border-radius: 200px;
  font-weight: 500;
  width: fit-content;
}

@media (max-width: 1200px) {

  .sidebar {
    max-width: 100%;
  }

  .searchBtn {
    width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {

  .searchBtn {
    width: 100%;
    margin-top: 0;
  }
}

@media (max-width: 480px) {


  .filterItem {
    width: 100%;
    height: 80px;
    padding: 8px 4px;
    gap: 4px;
  }

  .filterItem svg {
    width: 24px;
    height: 24px;
  }

  .filterItem span,
  .filterItem p {
    font-size: 12px;
    text-align: center;
    line-height: 1.2;
  }
}