@import "modern-normalize/modern-normalize.css";

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-VariableFont_opsz_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

/* light theme by default */
:root {
  --font-family: "Inter", sans-serif;

  --white: #ffffff;
  --main: #101828;
  --text: #475467;
  --inputs: #ffffff;
  --badges: #F2F4F7;
  --gray-light: #eaecf0;

  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;

  color-scheme: light;
}

/* dark theme*/
[data-theme="dark"] {
  --white: #101828;
  --main: #f9fafb;
  --text: #98a2b3;
  --inputs: #1d2939;
  --badges: #344054;
  --gray-light: #475467;


  color-scheme: dark;
}

/* AUTOMATIC DARK THEME (System Settings) */
@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --white: #101828;
    --main: #f9fafb;
    --text: #98a2b3;
    --inputs: #1d2939;
    --badges: #344054;
    --gray-light: #475467;

    color-scheme: dark;
  }
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
  /*  overflow-y: scroll; */
}

html,
body {
  background-color: var(--white);
  color: var(--main);
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  place-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea,
select {
  background-color: var(--inputs);
  color: var(--main);
  border: 1px solid var(--gray-light);
  font-family: inherit;
  padding: 8px;
  border-radius: 4px;
}

button {
  background-color: var(--button);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.2s;
}

button:hover {
  background-color: var(--button-hover);
}