@import "modern-normalize/modern-normalize.css";

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-VariableFont_opsz_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Italic-VariableFont_opsz_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}

/* reset styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --font-family: "Inter", sans-serif;

  --main: #101828;
  --text: #475467;
  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;

  color-scheme: light dark;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: var(--text);
  background-color: var(--white);
}

body {
  min-height: 100vh;
  display: flex;
  place-items: center;
  justify-content: center;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}


@media (prefers-color-scheme: light) {
  :root {
    color: var(--text);
    background-color: var(--white);
  }


}