@import "modern-normalize/modern-normalize.css";

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-VariableFont_opsz_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

/* light theme by default */
[data-theme="dark"] {
  --white: #101828;
  --main: #f9fafb;
  --text: #98a2b3;
  --inputs: #1d2939;
  --badges: #344054;
  --gray-light: #475467;
}

:root {
  --font-family: "Inter", sans-serif;



  color-scheme: light dark;
}

/* color inversion  for dark theme */
@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --white: #101828;
    --main: #f9fafb;
    --text: #98a2b3;
    --inputs: #1d2939;
    --badges: #344054;
    --gray-light: #475467;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--white) !important;
  color: var(--main) !important;

  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  min-height: 100vh;
  display: flex;
  place-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea,
select {
  background-color: var(--inputs);
  color: var(--main);
  border: 1px solid var(--gray-light);
  font-family: inherit;
  padding: 8px;
  border-radius: 4px;
}

button {
  background-color: var(--button);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background-color: var(--button-hover);
}