.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.loadMoreBtn {
  margin: 0 auto;
  padding: 16px 32px;
  background-color: transparent;
  color: var(--main);
  border: 1px solid var(--gray-light);
  border-radius: 200px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: border-color 0.2s;
}

.loadMoreBtn:hover {
  border-color: var(--button);
}

.noResults {
  text-align: center;
  padding: 60px 0;
  color: var(--text);
}

.loading {
  text-align: center;
  font-size: 18px;
  margin-top: 40px;
}