.hero {
  background-image: linear-gradient(rgba(16, 24, 40, 0.4), rgba(16, 24, 40, 0.4)),
    url('../../assets/images/Hero.jpg');

  background-image: linear-gradient(rgba(16, 24, 40, 0.4), rgba(16, 24, 40, 0.4)),
    image-set(url('../../assets/images/Hero.webp') 1x,
      url('../../assets/images/Hero@2x.webp') 2x,
      url('../../assets/images/Hero.jpg') 1x);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 72px);
  display: flex;
  align-items: center;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(16, 24, 40, 0.4), rgba(16, 24, 40, 0.4)),
      url('../../assets/images/Hero@2x.webp');
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
}

.content {
  max-width: 600px;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.15;
  color: #f7f7f7;
  margin-bottom: 16px;
}

.subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: #f7f7f7;
  margin-bottom: 40px;
}

.button {
  padding: 16px 60px;
  background-color: var(--button);
  color: white;
  border-radius: 200px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--button-hover);
}

@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 18px;
  }

  .container {
    padding: 0 20px;
    text-align: center;
  }

  .content {
    margin: 0 auto;
  }
}